PORT=3009
WATCHLIST_DB_HOST=localhost
WATCHLIST_DB_NAME=watchlist
WATCHLIST_DB_USER=watchlist
WATCHLIST_DB_PASSWORD=
WATCHLIST_DB_PORT=5438
KEYCLOAK_CERTS_URL=http://localhost:8080/realms/calendario/protocol/openid-connect/certs
CORS_ORIGIN=http://localhost:5181
TMDB_API_KEY=
GOOGLE_BOOKS_API_KEY=
