MAPACYD_DB_NAME=mapacyd
MAPACYD_DB_USER=mapacyd
MAPACYD_DB_PASSWORD=cambiar_esto_en_produccion
KEYCLOAK_JWKS_URI=https://elbunkerdelingeniero.duckdns.org/auth/realms/calendario/protocol/openid-connect/certs
CORS_ALLOWED_ORIGINS=https://mapacyd.elbunkerdelingeniero.duckdns.org
